body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to bottom right, #112705, #1f4608);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
  width: 300px;
}

h1 {
  margin: 50px;
  color: #fbfef8;
}

#visores {
  text-align: right;
  margin: 0 25px;
  color: #fbfef8;
}

#view {
  font-size: 1rem;
  margin: 0px;
}

#main-view {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.btn {
  /* Ripple effect*/
  position: relative;
  overflow: hidden;
  transition: background 400ms;

  /* Botão */
  display: inline-block;
  text-decoration: none;
  background-color: #112705;
  color: #fbfef8;
  margin: 5px;
  padding: 10px;
  width: 30px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  box-shadow: 0 0 1px #fbfef8;
}

.btn-main {
  background-color: #040901;
}
/* Ripple effect */
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 300ms linear;
  background-color: #94ec61
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
